# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# specific to this project
documents/*.pdf
index/*

# OS specific
.DS_Store
Thumbs.db
